@using WMP.Order.Settle.Framework.Utility
<!DOCTYPE html>

<html>
<head>
    <title>위메프 - 정산시스템</title>
    @Html.Partial("HeadMeta")
    @RenderSection("Style", required: false)
</head>
<body>
    <div id="wrap">
        @Html.Partial("Top")

        <div id="content">
            @RenderBody()
        </div>


        <!-- Javascript를 최종 하단에 정의하는 것이 Element를 참조하기에 더 낫다 -->
        <script type="text/javascript" src="~/Contents/js/vendor/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="~/Contents/js/vendor/bootstrap-3.5.5.min.js"></script>
        <script type="text/javascript" src="~/Contents/js/ui-default.js"></script>
        <script type="text/javascript" src="~/Contents/js/globals.js"></script>

        @RenderSection("Script", required: false)

        @if (IsSectionDefined("onLoadScript")) {
        <script type="text/javascript">
            $(document).ready(function () {
                @if (TempData["alert"] != null)
                {
                    <text>
                    alert('@TempData["alert"]');
                    @if (TempData["redirect"] != null)
                    {
                        <text>
                        window.location.href = '@TempData["redirect"]';
                        </text>
                        TempData["redirect"] = null;
                    }
                    </text>
                    TempData["alert"] = null;
                }
                @RenderSection("onLoadScript", required: false)
            });
        </script>
        }
        else
        {
            if (TempData["alert"] != null)
            {
            <script type="text/javascript">
                $(document).ready(function () {
                    alert('@TempData["alert"]');
                    @{
                        if (TempData["redirect"] != null)
                        {
                            <text>
                            window.location.href = '@TempData["redirect"]';
                            </text>
                            TempData["redirect"] = null;
                        }
                        TempData["alert"] = null;
                    }
                });
            </script>
            }
        }

    </div>
</body>
</html>
