@using WMP.Order.Settle.Web
@using WMP.Order.Settle.Web.Models

<!-- aside -->
<div id="aside">
    <h1 class="logo">
        <a href="@Globals.Admin.Home.MENU_LINK">
            <img src="http://image.wemakeprice.com/images/resources/adjustment/logo.png" width="100%" alt="위메프 정산시스템">
        </a>
    </h1>
    <div class="user-info">
        <strong class="txt-name text-underline">@Globals.Admin.Login_User.name</strong>님 환영합니다.
        <a href="/account/logout" class="btn btn btn-default btn-xs">로그아웃</a>
    </div>
    <!-- snb -->
    <div id="snb">
        <div class="inner-snb">
            @{
                foreach (Menu first in Globals.Admin.AllMenus)
                {
                    if (first.MENU_DEPTH != 1) { continue; }
			<div class="section-list">
				<strong class="tit">@first.MENU_NAME</strong>
                @{
                    if (first.subMenus.Count > 0) { 
					<ul class="list-snb list-unstyled">
                @{
                    foreach (Menu second in first.subMenus)
                    {
                        if (second.MENU_DEPTH != 2) { continue; }
                        string activeClass = "";
                        if (Request.Path == second.MENU_LINK)
                        {
                            activeClass = "class=\"selected\"";
                        }

                        <li @Html.Raw(activeClass)>
                        @{
                        if (String.IsNullOrEmpty(second.MENU_LINK))
                                {
                                <a href=javascript:void(0); data-id="unfold-menu">
                                    @second.MENU_NAME
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                } else {
                                <a href="@second.MENU_LINK">@second.MENU_NAME</a>
                                }
                            }
                            @{
                            if (second.subMenus.Count > 0) { 
                                <ul class="list-unstyled">
                                @{
                                    foreach (Menu third in second.subMenus)
                                    {
                                        if (third.MENU_DEPTH != 3) { continue; }
                                        if (Request.Path == third.MENU_LINK)
                                        {
                                            activeClass = "class=\"selected\"";
                                        }
                                        else
                                        {
                                            activeClass = "";
                                        }

                                        if (Globals.Admin.HasReadPermission(third.MENU_LINK))
                                        {
                                            <li @Html.Raw(activeClass)><a href="@third.MENU_LINK">@third.MENU_NAME</a></li>
                                        }
                                    }
                                }
                                </ul>
                            }
                        }
                        </li>
                    }
                }
                    </ul>
                }
                }
            </div>
                }
            }
        </div>
    </div>
    <!-- //snb -->
</div>
<!-- //aside -->